.Calculator {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;

  height: 320px;
  width: 220px;
  padding: 5px;

  background-color: rgb(10, 12, 27);
  border-radius: 5px;
  overflow: hidden;
}
