:root {
  --bg-button: rgb(32, 35, 54);
}
.button {
  font-family: "Outfit";
  font-size: 1.4em;
  background-color: var(--bg-button);
  border-radius: 5px;
  border: 0px;
  color: rgb(211, 211, 211);
  margin: 4px;
}
.button.operation {
  font-family: "Outfit-light";
  color: rgb(32, 35, 54);
  background-color: rgb(79, 203, 220);
}
.button:active {
  background-color: hsl(232deg 26% 13%);
}
.button.operation:active {
  background-color: hsl(187deg 67% 45%);
}
.button.double {
  grid-column: span 2;
}
.button.triple {
  grid-column: span 3;
}
