@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit-Thin.ttf);
}
@font-face {
  font-family: "Outfit-light";
  src: url(./fonts/Outfit-Light.ttf);
}
body {
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(32, 35, 54);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
